manifest {
	author = "Christian Schudoma, Daniel Podlesny"
	defaultBranch = "main"
	description = "Metaphlan4/HUMAnN3 workflow"
	name = "nHUMAnN"
	nextflowVersion = ">=22.10.6"
	version = "0.8"
}

process {
	errorStrategy = { task.attempt <= 3 ? "retry" : "ignore" }
	maxRetries = 3
	cache = "lenient"

	withName: prepare_fastqs {
		// no scratch dir, no container!
		executor = "local"
		container = null
		scratch = null
	}


}


params {
	publish_mode = "copy"
	input_dir = null
	output_dir = null
	mp4_db = null
	humann_nuc_db = null
	humann_prot_db = null
	
	run_preprocessing = true
    remove_host = false
    drop_orphans = false
    qc_minlen = 45
    qc_params_shotgun = "qtrim=rl trimq=25 maq=25 ktrim=r k=23 mink=11 hdist=1 ftm=5 entropy=0.5 entropywindow=50 entropyk=5 tpe tbo"
    remove_host_kraken2_db = null
    kraken2_min_hit_groups = 10
}

docker { 
	enabled = true
}