executor {
	$slurm {
		queueSize = 100
		// errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
		// maxRetries = 4
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}

process {
	cache = "lenient"
	container = "oras://ghcr.io/cschu/nevermore@sha256:b83832ee9a88a8446ef1c6df9b091bb9725a04971b46e454b1d02d12b8d3f064"
	clusterOptions = ""
	withName: prepare_fastqs {
		// no scratch dir, no container!
		executor = "local"
		container = null
		scratch = null
	}
	withName: fastqc {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {4.GB * task.attempt}
		time = {4.h * task.attempt}
		maxRetries = 3
	}
	withName: multiqc {
		// publishDir = [ path: params.output_dir, mode: params.publish_mode ]
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = {4.h * task.attempt}
		maxRetries = 3
	}
	withLabel: kraken2 {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {64.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withLabel: bbduk {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 4
		memory = {8.GB * task.attempt}
		time = '2h'
		maxRetries = 3
	}
	withName: concat_singles {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = '2.GB'
		time = '8h'
		maxRetries = 3
	}
	withName: merge_single_fastqs {
		executor = "slurm"
		errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
		cpus = 1
		memory = {32.GB * task.attempt}
		time = {2.d * task.attempt}
		maxRetries = 4
	}
	withName: collate_stats {
		// publishDir = [ path: params.output_dir, mode: params.publish_mode ]
		errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
		maxRetries = 4
	}
	withName: run_metaphlan4 {
		container = "docker://biobakery/metaphlan"
		publishDir = [ path: params.output_dir + "/mp4_profiles/", mode: params.publish_mode, pattern: "*.txt" ]
		executor = "slurm"
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
		cpus = 8
        memory = {64.GB * task.attempt}
        time = '14d'
        maxRetries = 3
	}
	withName: collate_metaphlan4_tables {
		container = "docker://biobakery/metaphlan"
		// publishDir = [ path: params.output_dir, mode: params.publish_mode ]
		executor = "local"
	    errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
	    time = '14d'
	    maxRetries = 3
	}
	withName: reduce_metaphlan_profiles {
		container = "oras://ghcr.io/cschu/container-forge@sha256:5cb00cf4173f76cd84a6300c5a417ea09ba91a172a7085adedac7054e493e79f"
		executor = "local"
        publishDir = [ path: params.output_dir, mode: params.publish_mode ]
	}
	withName: generate_humann_joint_index {
		container = "oras://ghcr.io/cschu/container-forge@sha256:5cb00cf4173f76cd84a6300c5a417ea09ba91a172a7085adedac7054e493e79f"
		scratch = null
        publishDir = [ path: params.output_dir, mode: params.publish_mode ]
        executor = "slurm"
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
        cpus = 24
        memory = {64.GB * task.attempt}
        time = '24.h'
        maxRetries = 3	
	}
	withName: run_humann3 {
		container = "oras://ghcr.io/cschu/container-forge@sha256:5cb00cf4173f76cd84a6300c5a417ea09ba91a172a7085adedac7054e493e79f"
		scratch = null
		publishDir = [ path: params.output_dir, mode: params.publish_mode ]
		executor = "slurm"
		errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
		cpus = 8
		memory = {64.GB * task.attempt}
		time = '24.h'
		maxRetries = 3
		maxForks = 50
	}
	withName: reformat_genefamily_table {
		container = "oras://ghcr.io/cschu/container-forge@sha256:5cb00cf4173f76cd84a6300c5a417ea09ba91a172a7085adedac7054e493e79f"
		scratch = null
		publishDir = [ path: params.output_dir, mode: params.publish_mode ]
		executor = "slurm"
		errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
		cpus = 1
		memory = {4.GB * task.attempt}
		time = '24.h'
		maxRetries = 3
	}


}

singularity {
	enabled = true
	autoMounts = true
}
